.all-clients-page {
  .card-bg {
    margin-bottom: 48px;
    padding: 12px 16px;
  }

  .clients-table-name {
    font-weight: 500;
  }
}


.clients-page {
  .container {
    display: flex;
  }

  .page-bar {
    padding-top: 14px;
  }

  .page-bar-left {
    align-self: flex-end;
  }

  .subpage-link {
    border-radius: 3px;
    color: initial;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin: 0 5px;
    padding: 8px 10px;
    text-decoration: none;

    &:hover {
      background: $gray-40;
    }

    &.active {
      background: $green-10;
      color: $green;
      font-weight: 700;
    }
  }

  .back-to-all-clients {
    font-size: 13px;
    margin-bottom: 4px;
  }

  .client-id {
    color: $silver;
    font-size: 20px;
    margin-left: 10px;
  }
}

.clients-page-main-container {
  flex: 1;
  padding: 24px;
}

.clients-page-comments-container {
  min-height: 200px;
  max-height: calc(100vh - 190px);
  margin-left: 18px;
  width: 320px;
  padding: 20px;
  position: relative;

  .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .comment-container {
    min-height: 25px;
    max-height: calc(100% - 165px);
    overflow: scroll;
  }

  .panel {
    margin-top: 8px;
    margin-bottom: 12px;
  }

  .panel-body {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .panel-footer {
    color: $black-60;
    font-size: 12px;
  }

  .comment-reply {
    margin-left: 24px;
    position: relative;

    &:before {
      background: $green-80;
      content: "";
      height: 100%;
      left: -12px;
      position: absolute;
      width: 1px;
    }
  }

  .comment-form {
    margin-top: 16px;
    width: 100%;

    textarea {
      height: 80px;
    }
  }
}

.register-client-page {
  margin: 30px auto 60px;
  max-width: 500px;

  .title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 24px;
  }
}