.landing-page-container {
	text-align: center;
	max-width: 450px;
	margin-top: 30px;
	padding: 24px;
}

.landing-img {
	margin-bottom: 36px;
	margin-top: 20px;
	width: 100px;
}

.landing-title {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 8px;
}

.landing-subtitle {
	color: $green;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 36px;
}

.login-form-container {
	margin: 0 auto;
	text-align: left;
}

.login-form-btn-container {
	align-items: flex-end;
	display: flex;
	margin-top: 24px;

	.login-button {
		margin-left: auto;
	}
}