<h1>Welcome back <%= @user.first_name %>!</h1>
<h2>Here are your tasks:</h2>
<% @tasks.each do |task| %>
  <%= task.description %> <br/>
<% end %>
<div>
	<%= button_to "Log out", destroy_user_session_path, method: :delete %>
</div>