@import url('https://fonts.googleapis.com/css?family=Barlow:400,400i,500,600,700');

html, body {
	font-family: $font-stack;
}

.link {
  border-bottom: 1px solid transparent;
  color: $blue;
  display: inline-block;
  font-weight: 500;
  opacity: 0.9;
  text-decoration: none;

  &--underline {
    border-bottom-color: $blue;
  }

  &:hover {
    border-bottom-color: $blue;
    opacity: 1;
  }

  &.link--green {
    color: $green;
    font-weight: 600;

    &:hover {
      border-bottom-color: $green;
      opacity: 1;
    }
  }
}