* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $body-gray;
  color: $black;
  padding-top: 44px;
}

hr {
  border-color: $black-20;
  margin: 10px auto;
}

.card-bg {
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 8px $black-10;
}

strong {
  font-weight: 600;
}

.clearfix {
  overflow: hidden;
}

.img-container {
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
  }
}

.inline-d {
  display: inline !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

$xxs: 6px;
$xs: 12px;
$sm: 16px;
$md: 24px;
$lg: 32px;
$xl: 40px;
$xxl: 54px;
$xxxl: 68px;

$space-names: 'xxs', 'xs', 'sm', 'md', 'lg', 'xl', 'xxl', 'xxxl';
$space-list: $xxs, $xs, $sm, $md, $lg, $xl, $xxl, $xxxl;

@each $value in $space-list {
  $i: index($space-list, $value);
  $name: nth($space-names, $i);

  .margin-#{$name} { margin: $xxs; }

  .marginTopBot-#{$name} {
    margin-top: #{$value};
    margin-bottom: #{$value};
  }

  .marginLeftRight-#{$name} {
    margin-left: #{$value};
    margin-right: #{$value};
  }

  .marginTop-#{$name} { margin-top: #{$value} }
  .marginBot-#{$name} { margin-bottom: #{$value} }
  .marginLeft-#{$name} { margin-left: #{$value} }
  .marginRight-#{$name} { margin-right: #{$value} }
}