.input-row {
  display: flex;

  fieldset, div {
    flex: 1;
    padding: 0 5px;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }
}

.input-container {

  .label, label {
    color: $black-80;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .label--newline {
    display: block;
  }

  .help-block {
    color: $black-80;
    display: inline-block;
    margin-bottom: 7px;
  }
}

.input {
  -webkit-appearance: none;
  background: $gray-20;
  border-radius: 2px;
  border: 1px solid $black-20;
  color: $black;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  padding: 8px 15px;
  resize: none;
  transition: 50ms;
  width: 100%;

  &::-webkit-input-placeholder, {
    color: $black-40;
  }

  &::-moz-placeholder, {
    color: $black-40;
  }

  &:-ms-input-placeholder, {
    color: $black-40;
  }

  &:-moz-placeholder, {
    color: $black-40;
  }

  &:focus {
    background: $green-10;
    border-color: $green-60;
  }
}

.input--lg {
  font-size: 16px;
  padding: 12px 18px;
}

.input--sm {
  font-size: 12px;
  padding: 5px 10px;
}

.input--fullwidth {
  width: 100%;
}

.input--light {
  background: $snow-20;
  border: 1px solid $snow-40;
  color: $snow;

  &:focus {
    border-color: $snow-80;
  }
}

.editable-input-box-container {
  margin-bottom: 15px;
}

.error-msg-container {
  color: $alert;
  font-weight: 500;
  margin: 15px 0 10px;
}

.select {
  -webkit-appearance: none;
  background-image: image_url("menulist.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
  background-color: $gray-20;
  border-radius: 2px;
  border: 1px solid $black-20;
  color: $black;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  padding: 8px 15px;
  padding-right: 27px;
  transition: 50ms;
  margin-left: 2px;
  margin-right: 2px;

  &:focus {
    background-color: $green-10;
    border-color: $green-40;
  }
}

.select.disabled {
  background-image: none;
}

.radio-inline {
  font-weight: 500;
  margin-right: 10px;

  input {
    margin-right: 5px;
  }
}