.header {
	background: white;
	box-shadow: 0 2px 5px $black-10;
	padding: 6px 0;
	position: relative;
	z-index: 10;

	a {
		color: inherit;
		display: inline-block;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.container {
    align-items: center;
		display: flex;
	}

	.header-title {
    align-items: center;
		display: flex;
		font-weight: 800;
		margin-right: 36px;

		&:hover { text-decoration: none; }
	}

	.header-logo {
		display: inline-block;
		margin-right: 8px;
		width: 30px;
	}

	.header-links {
		display: flex;
	}

	.header-link-item a {
		border-radius: 3px;
		display: flex;
		align-items: center;
		margin: 0 2px;
		padding: 8px 10px;
		position: relative;
		transition: 50ms;

		&:hover {
			background: $gray-40;
			text-decoration: none;
		}

		&.active {
			background: $green-10;
			color: $green;
			font-weight: 600;
		}

		.unread {
			background: $green;
	    border-radius: 2px;
	    color: white;
	    display: inline-block;
	    font-size: 10px;
	    font-weight: 700;
	    margin-left: 5px;
	    height: 16px;
	    width: 16px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
		}

		&.unread:after {
			background: $green;
			border-radius: 50%;
			content: '';
			position: absolute;
			right: 8px;
			top: 5px;
			height: 8px;
			width: 8px;
		}
	}

	.header-left {
		display: flex;
		margin-left: auto;
	}

	.header-user {
		font-weight: 500;
	}
}