.header {
	background: white;
	box-shadow: 0 2px 5px $black-10;
	padding: 6px 0;
	position: relative;
	z-index: 10;

	a {
		color: inherit;
		display: inline-block;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.container {
    align-items: center;
		display: flex;
	}

	.header-title {
    align-items: center;
		display: flex;
		font-weight: 800;
		margin-right: 36px;

		&:hover { text-decoration: none; }
	}

	.header-logo {
		display: inline-block;
		margin-right: 8px;
		width: 30px;
	}

	.header-links {
		display: flex;
	}

	.header-link-item a {
		border-radius: 3px;
		margin: 0 2px;
		padding: 8px 10px;
		transition: 50ms;

		&:hover {
			background: $gray-40;
			text-decoration: none;
		}

		&.active {
			background: $green-10;
			color: $green;
			font-weight: 600;
		}
	}

	.header-left {
		display: flex;
		margin-left: auto;
	}

	.header-user {
		font-weight: 500;
	}
}