#toast-container > div {
  box-shadow: 0 0 10px $black-20;
  opacity: 0.9;
}
.toast-success { background-color: $green; }
.toast-error { background-color: $alert; }
.toast-message { font-weight: 600; }