/* Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

.details-button {
	margin-left: 330px;
}

.reply-buttons {
	margin-top: 0px;
	margin-left: 40px;
	padding-bottom: 15px;
}

.reply-textbox {
	margin-left: 40px;
}

.comment-box {
	padding-top: 0px;
	padding-bottom: 0px;
}

.threads-split-screen {
	margin-left: 700px;
}
