// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

<<<<<<< HEAD
.details-button {
	margin-left: 330px;
}

.reply-buttons {
	margin-top: 0px;
	margin-left: 40px;
	padding-bottom: 15px;
}

.reply-textbox {
	margin-left: 40px;
}

.comment-box {
	padding-top: 0px;
	padding-bottom: 0px;
}

.slidin-menu {
	display:block;
	margin-left: 900px;
}

.pipeline {
  margin-left: 20px;
}

.pipeline-stage {
  display: inline;
}

.pipeline-stage:not(:first-child) {
  margin-left: -20px;
}

.active {
  opacity: 0.6;
}

.stage-name {
  position: absolute;
  margin-left: 34px;
  margin-top: 24px;
  color: white;
}
