.task-row {
	background-color: #f4f4f4;
}

.dashboard-name {
	position: absolute;
	top: 0;
	font-size: 42px;
	font-weight: bold;
	padding: 8px 16px;
}

.dashboard-nav-tab {
	li {
		background-color: #9bb989;
		text-align: center;
		color: white;
		border-bottom: 1px solid white;

		a {
			color: white;
		}
	}
}

.dashboard-profile {
	background-color: #9bb989;
}

.nav-header, .nav-buttons {
	padding-right: 0;
	text-align: center;
}

.header-svg, .dashboard-content {
	padding-left: 0;
}

.nav {
	li {
		a:hover, a:focus {
			background-color: #b9cdad;
		}
	} 
} 