// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing_banner {
	width: 100%;
}

.custom-row {
	margin-right: 0px;
}

.home-logo {
	padding-top: 170px;
	padding-bottom: 10px;
	margin-left: 7px;
}

body {
	background-color: #CDD7C7;
}

.email-field {
  margin-left: 25px;
  margin-top: 50px;
  width: 125%;
}

.password-field {
	margin-left: 25px;
  width: 125%;
}

.login-button {
	margin-left: 118px;
  margin-bottom: 20px;
	background-color: #89AA74;
	color: white;
}

.wrong-login {
  margin-left: 0px;
  margin-right: 10px;
  width: 150%;
}

.reset-pw {
  margin-top: -10px;
  margin-left: 17px;
  margin-bottom: 15px;
}

.sign-up {
  position: fixed;
  bottom: 0;
  right: 0;
}