// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing_banner {
	width: 100%;
}

.custom-row {
	margin-right: 0px;
}

.home-logo {
	padding-top: 170px;
	padding-bottom: 10px;
	margin-left: 7px;
}

body {
	background-color: #CDD7C7;
}